<h2>タイトル</h2>
<p><%= @golfclub.title %></p>

<h2>本文</h2>
<p><%= @golfclub.body %></p>
<h2>画像</h2>
<% if @golfclub.image.attached? %>
  <%= image_tag @golfclub.image, size: "100x100" %>
<% else %>
  <%= image_tag 'no_image1', size: "100x100" %>
<% end %>

<%= link_to "編集", edit_golfclub_path(@golfclub.id) %>
<%= link_to "削除", golfclub_path(@golfclub.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
